.breadcrumb-nav {
  background-color: none;
}
.nocolor {
  background-color: transparent;
}
a {
  text-decoration: none;
  color: #666666;
}
a:hover {
  text-decoration: none;
}

.text-block {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}
p {
  /* word-break: break-all; */
  width: 10rem;
  vertical-align: middle;
  padding-top: 12%;
}

.main-panel {
  transition: width 0.25s ease, margin 0.25s ease;
  width: calc(100vw - 260px);
  display: flex;
  flex-direction: column;
}
.page-body-wrapper {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
}

.content-wrapper {
  background: #f2edf3;
  padding: 2.75rem 2.25rem;
  width: auto;
  flex-grow: 1;
}

.contactos {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: 100%;
}

.contacto {
  padding: 5%;
  width: 100%;
}
