<div id='menu' class="sidebar primary-color">
  <ul  class='brand-nav' >
    <li routerLink="/">
      <div class="row align-middle d-flex align-items-center">
        <button class="primary-color button">
          <i class="material-icons terceary-color d-inline-block align-top left" alt="home">home</i>
          </button>
          <div class="drop-left">
            <p class="primary-color">weContact</p>
          </div>
        </div>
        <li routerLink="/">
          <div class="row align-middle d-flex align-items-center">
            <button class="primary-color button">
              <i class="material-icons terceary-color d-inline-block align-top left" alt="home">extension</i>
              </button>
              <div class="drop-left">
                <p class="primary-color">Other</p>
              </div>
            </div>
  </ul>
  </div>